@import "vars";
html, body {
  overflow-x: hidden;
}
body {
    background-color: $bg_color;
    margin: 0 !important;
    width: 100%;
}

#projectCont {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

#projectCont > * {
    color: white;
}

#capabilities1,
#capabilities2,
#home,
#projects {
    float: left;
    margin-bottom: 5%;
}

article {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

article.child1 {
    width: 39.3%;
    height: 520px;
    margin-bottom: 1%;
}

article.child2 {
    width: 39.3%;
    height: 250px;
    margin-left: 1%;
    margin-bottom: 20px;
}

article.child3 {
    height: 250px;
    width: 19.05%;
    margin-left: 1%;
    margin-bottom: 20px;
    float: right;
}

article.child4 {
    height: 250px;
    width: 59.524%;
    margin-left: 1%;
    margin-bottom: 20px;
    float: right;
}

article {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    height: 400px;

    a {
        color: #fff;
    }

    a:hover {
        color: #fff;
    }

    .overlay {
        background-image: linear-gradient(190deg, transparent, #000000);
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .text {
        text-transform: uppercase;
        position: absolute;
        left: 40px;
        bottom: 40px;
    }

    .type {
        font-family: Futura;
        font-size: 12px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f38a00;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .project_name {
        font-family: Futura;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .project_description {
        font-family: Futura;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}
.hidden-login{
  display: none;
}
header {
    height: 130px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    top: 50px;
    float: left;

    #logo {
        float: left;
        width: 122px;
        height: 31px;
        margin-left: 5%;
    }
    .right {
        float: right;
        color: #4b4e53;
        text-align: right;
        width: 200px;
        height: 50px;
        font-weight: normal;
        font-family: futura;
        font-size: 14px;
        line-height: 10px;
        position: relative;
        margin-right: 5%;
        .login {
            float: left;
            cursor: pointer;
            right: 8%;
            position: relative;

            .loginT {
                float: left;
            }

            .userimg {
                float: right;
                width: 35px;
                height: 35px;
                margin-left: 10px;
                border-right: solid 1px rgba(0,0,0, 0.04);
                padding-right: 50px;
            }
        }

        .login p:nth-child(2) {
            font-size: 12px;
            color: #999899;
            opacity: 0.5;
        }

        .menu {
            margin-top: 10px;
            cursor: pointer;
            float: right;
            width: 25px;
            height: 15px;

            .dropdown img {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }
}

nav {
    height: 39px;
    width: 100%;
    max-width: 1920px;
    opacity: 0.63;
    background-color: rgba(214, 214, 214, 0.32);
    position: relative;
    margin: 0 auto;
    padding-top: 4px;
    float: left;

    .lupa {
        width: 14px;
        height: 15px;
        object-fit: contain;
        opacity: 0.5;
        -webkit-filter: blur(0);
        filter: blur(0);
        float: left;
        margin-left: 5%;
        padding-top: 6px;

        > * {
            cursor: pointer;
        }
    }

    .search {
        width: 15%;
        height: 15px;
        margin-left: 1%;
        float: left;
        padding-top: 4px;

        input {
            height: 15px;
            font-size: 14px;
            width: 100%;
            font-family: futura, serif;
            border: none;
            color: #4b4e53;
            background-color: transparent;
        }
    }
    select {
        padding-top: 6px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("../images/arrow.svg");
        background-repeat: no-repeat;
        background-position: right;
        color: $filter;
        margin-right: 2%;
        opacity: 0.5;
    }
    .filters {
        .separator {
            width: 1px;
            height: 30px;
            background-color: $filter;
            float: left;
            margin: 0 1%;
            opacity: 0.5;
        }

        select {
            padding-top: 6px;
            border: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("../images/arrow.svg");
            background-repeat: no-repeat;
            background-position: right;
            color: $filter;
            margin-right: 2%;
            opacity: 0.5;
        }

        select:nth-child(1) {
            margin-left: 1%;
        }
    }
}

#projects {
    margin-top: 50px;
    width: 100%;
    max-width: 1920px;
    margin-bottom: 100px;
}

#projects.fixed {
    margin-top: 330px;
    min-height: 850px;
}

ul.dropdown-menu {
    z-index: 3;
}

header.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    height: 120px;
    padding-top: 20px;
    transition: padding 0.5s;
}

nav.fixed {
    z-index: 2;
    position: fixed;
    top: 82px;
    transition: top 0.3s;
}

.headerBlue {
    width: 100%;
    height: 421px;
    background-color: #172a4c;
    top: 0;

    #logo {
        margin-top: 50px;
    }

    .right {
        float: right;
        color: #fff;
        text-align: right;
        width: 200px;
        height: 50px;
        font-weight: normal;
        font-family: "futura-pt";
        font-size: 14px;
        line-height: 10px;
        margin-top: 50px;
        position: relative;
        margin-right: 5%;

        .login {
            float: left;
            cursor: pointer;
            right: 8%;
            position: relative;

            .loginT {
                float: left;
            }

            .userimg {
                float: right;
                width: 35px;
                height: 35px;
                margin-left: 10px;
                border-right: solid 1px rgba(255, 255,255, 0.35);
                padding-right: 50px;
            }
        }

        .login p:nth-child(2) {
            font-size: 12px;
        }

        .menu {
            margin-top: 10px;
            cursor: pointer;
            float: left;
            width: 25px;
            height: 15px;
        }
    }

    .overlay {
        height: 100%;
        opacity: 0.66;
        mix-blend-mode: soft-light;
        background-image: -webkit-linear-gradient(143deg, #fff, #000000);
        background-image: -o-linear-gradient(143deg, #fff, #000000);
        background-image: linear-gradient(233deg, #fff, #000000);
        position: absolute;
        width: 100%;
    }

    .content {
        position: absolute;
        top: 154px;
        left: 7%;
    }

    h1 {
        font-family: Futura;
        font-size: 70px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.6px;
        color: #ffffff;
        text-transform: uppercase;
        margin: 0;
    }

    h2 {
        font-family: Futura;
        font-size: 27.8px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0px;
        color: #ffa600;
        text-transform: uppercase;
        margin: 0;
    }

    .client {
        color: #fff;
        font-family: "futura-pt";
        font-size: 18px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: -0px;
        margin-left: 10%;
        margin-top: 20px;

        .line {
            width: 3px;
            height: 25px;
            background-color: #d8d8d8;
            float: left;
            margin-top: 5px;
            margin-right: 23px;
        }
        p, h4{
          margin: 0;
        }
    }
}

.deviceContainer {
    position: relative;
    float: left;
    width: 55%;
    margin-top: -10%;
    margin-left: 20%;

    .iphone5s {
        width: 557px;
        height: 1026px;
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        background-image: url("../images/iphone5s.png");
        background-repeat: no-repeat;

        .banner {
            width: 321px;
            height: 568px;
            position: relative;
            top: 179px;
            left: 79px;
        }
    }

    .iphone6 {
        width: 630px;
        height: 1080px;
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        background-image: url("../images/iphone6.png");
        background-repeat: no-repeat;
        display: none;

        .banner {
            width: 321px;
            height: 568px;
            position: relative;
            top: 179px;
            left: 79px;
        }
    }

    .iphone6plus {
        width: 669px;
        height: 1156px;
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        background-image: url("../images/iphone6plus.png");
        background-repeat: no-repeat;
        display: none;

        .banner {
            width: 321px;
            height: 568px;
            position: relative;
            top: 179px;
            left: 79px;
        }
    }
}

.options {
    position: relative;
    margin-right: 3%;
    margin-top: 10%;
    color: #5a6770;
    width: 142px;
    float: right;
    font-family: futura;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    div {
        margin-bottom: 40px;

        img {
            cursor: pointer;
            margin-right: 5px;
        }

        img:nth-child(2) {
            top: 17px;
            position: relative;
        }

        input[type=radio] {
            display: none;
        }

        label:before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            background-color: transparent;
            border-radius: 100%;
            border: 5px solid #fec526;
        }

        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            box-sizing: initial;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
        }

        input[type=radio]:checked + label:before {
            content: "\26AB";
            color: #172a4c;
            font-size: 13px;
            line-height: 16px;
        }
    }
}
//capabilities

.title {
  h1 {
    font-family: Futura;
    font-size: 80px;
    // font-size: 5vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    color: #ffa700;
    width: 360px;
  }
}

.homeimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paragraph {
    font-family: "FuturaStd-Book";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -0px;
    color: #5a5f69;
    // width: 530px;
    // height: 450px;
    padding-left: 6%;

    button {
        width: 146px;
        height: 37px;
        border-radius: 14px;
        border: solid 2px #d3d3d3;
        text-transform: uppercase;
        background-color: transparent;
        font-family: Futura;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #d7d7d7;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

.texthead {
    height: 100%;
    float: right;
    margin-bottom: 50px;
    margin-top: -50px;
    padding-left: 6%;
    p {
        font-family: Futura;
        font-size: 33.6px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        position: relative;
        line-height: normal;
        letter-spacing: -0px;
    }
}
.texthead2 {
    height: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 6%;
    p {
        font-family: Futura;
        font-size: 33.6px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        position: relative;
        line-height: normal;
        letter-spacing: -0px;
        width: 320px;
    }
}

.texthead2 p:before {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 44px;
    height: 3px;
    background-color: #246293;
    display: inline-block;
}
.texthead p:before {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 44px;
    height: 3px;
    background-color: #246293;
    display: inline-block;
}

.dropdown .dropdown-menu {
    right: 0;
    left: inherit;
}
//capabilities2


.capabilities2__title {
    font-family: Futura;
    font-size: 70px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -0.6px;
    color: #ffa700;
    width: 344px;
}

.capabilities2__text {
    width: 100%;
    min-height: 270px;
    background-color: #06294a;
    color: white;
    z-index: 2;
    padding: 30px;
    max-height: 480px;
    max-width: 450px;
    min-width: 305px;

    h2 {
        margin-top: 3%;
        margin-bottom: 10px;
    }
    h2:before {
        content: " ";
        position: absolute;
        top: 80px;
        width: 44px;
        height: 3px;
        background-color: #22998a;
        display: inline-block;
    }
    p {
        font-family: "futura-pt";
        font-size: 18px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: -0px;
        margin: 30px 0;
    }

    button {
        width: 146px;
        height: 37px;
        border-radius: 14px;
        border: solid 2px #ffffff;
        text-transform: uppercase;
        background-color: transparent;
        font-family: futura;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        margin: 3% 0;
    }
}

.capabilities2__img {
    z-index: 1;
    height: 800px;
    width: 95%;
    float: left;
    object-fit: cover;
}

/****** [HOME] ******/
#home{
  width: 100%;
  position: relative;
}
.home__contain{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 700px;
  line-height: 700px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
}
.home__img{
  width: 307px;
	height: 383px;
  object-fit: cover;
  background: url("../images/home.jpg") no-repeat;
  background-position: 15% 50%;
  position: relative;
  // margin-left: -500px;
  left: 15%;
  vertical-align: middle;
}
.home__stage1{
  position: relative;
  left: 20%;
  top: 50px;
  h1{
    font-size: 69.9px;
    font-size: 4vw;
    font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.25;
  	letter-spacing: -0.5px;
    margin: 0;
    font-family: Futura;
    opacity: 0;
  }
  h2{
    font-family: Futura;
    font-size: 80px;
    font-size: 5vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin: 0;
    opacity: 0;
    color: #ffa700;
  }
}
.home__stage2{
  position: absolute;
  left: 36%;
  h2{
  	font-size: 80px;
  	font-size: 5vw;
  	font-weight: 800;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.12;
  	letter-spacing: -0.6px;
  	color: #ffffff;
    font-family: Futura;
    opacity: 0;
    span{
      	color: #ffa700;
    }
  }
  h3{
    font-size: 80px;
    font-size: 5vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: -0.6px;
    color: #ffffff;
    font-family: Futura;
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
    .homeimage {
        width: 50%;
        height: 480px;
    }
}
@media only screen and (max-width: 992px) {
    #projectCont {
        article.child1,
        article.child2,
        article.child3,
        article.child4 {
            width: 100%;
            height: 400px;
            margin: 0 0 20px;
        }
    }
    .capabilities2__img {
        height: 700px;
    }
    .home__stage2{
      left: 50%;
      margin-left: -36%;
      bottom: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .title {
        h1 {

        }
    }

    .texthead, .texthead2 {
      padding-left: 15px;
    }
    .homeimage {
        width: 100%;
        padding: 0;
    }
    .capabilities2__text {
        width: 100%;
        max-width: 100%;
        padding-left: 20%;
        padding-right: 20%;

        h2 {
            text-align: center;
        }

        h2:before {
            top: 125px;
        }
    }

    .capabilities2__img {
        width: 100%;
        height: 300px;
    }
    .home__stage1{
      position: absolute;
      left: 50%;
      margin-left: -36%;
      bottom: 30px;
      top: inherit;
      h1{
        font-size: 6vw;
      }
      h2{
        font-size: 7vw;
      }
    }
    #projects.fixed {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 560px) {
    .capabilities2__text {
        padding-left: 10%;
        padding-right: 10%;
        min-width: 150px;
    }
    .home__stage2{
      h2{
        font-size: 9vw;
      }
      h3{
        font-size: 9vw;
      }
    }
    .home__stage1{
      bottom: 60px;
    }
}
@media only screen and (max-width: 400px) {
    .paragraph p{
        width: 80%;
    }
    .texthead2 p{
      font-size: 30px;
    }
    .capabilities2__text h2:before{
      top: 115px;
    }
    .capabilities2__text h2{
      width: 90%;
    }
    .capabilities2__text {
      padding: 5%;
    }
    .title{
        h1 {
            font-size: 60px;
        }
    }
    .capabilities2__title {
      font-size: 50px;
    }
    .home__stage1{
      bottom: 70px;
    }
    .login{
      display: none;
    }
    .hidden-login{
      display: block;
    }
    header{
      .right{
        width: 25px;
        height: 30px;
      }
    }
}
