<div class="home__contain">
  <div class="home__img">
  </div>
  <div class="home__stage1">
    <h1>
      WE ARE
    </h1>
    <h2>
      STORYTELLERS
    </h2>
  </div>
  <div class="home__stage2">
    <h2>
      <span>CHANGING</span> THE
    </h2>
    <h3>
      WORLD WITH A BRAND
    </h3>
  </div>
</div>
