<section id="container">
    <article data-w="2" data-h='2'>
        <img src='images/laptop.png' />
        <div class="overlay">
          <div class="text">
            <div class="type">Design and development</div>
            <div class="project_name">project name</div>
            <div class="project_description">some text here</div>
          </div>
        </div>
    </article>
    <article data-w="2">
      <img src='images/celphone.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
    <article>
      <img src='images/nike.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">interstitial</div>
          <div class="project_name">new imac series of ads</div>
          <div class="project_description">the function of the logo</div>
        </div>
      </div>
    </article>
    <article data-w='3'>
      <img src='images/vans.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
    <article data-w="2" data-h='2'>
      <img src='images/mac.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
    <article data-w="2">
      <img src='images/nike.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
    <article>
      <img src='images/vans.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
    <article data-w='3'>
      <img src='images/laptop.png' />
      <div class="overlay">
        <div class="text">
          <div class="type">Design and development</div>
          <div class="project_name">project name</div>
          <div class="project_description">some text here</div>
        </div>
      </div>
    </article>
</section>
