<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Theorem's portfolio</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <%- include('./styles') -%>
  </head>
  <body id="portfolio">
    <header>
      <div id="logo">
        <img src="images/logo-theorem.png"
    		 srcset="images/logo-theorem@2x.png 2x,
    					 images/logo-theorem@3x.png 3x"
    		 class="logo-img">
      </div>
      <div class="right">
        <div class="login" id='login' data-toggle="modal" data-target="#loginModal">
          <div style="width:100%;height: 100%;">
            <div class="loginT">
              <p>
                Log in
              </p>
              <p>
                Please login here
              </p>
            </div>
            <span class="userimg">
              <img src="images/user-image2.svg" >
            </span>
          </div>
        </div>
        <div class="menu .pull-right">
          <div class="dropdown">
            <img src="images/lines-menu2.svg" data-toggle="dropdown" alt="">
            <ul class="dropdown-menu">
              <li><a href="#home">Home</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#capabilities1">Capabilities 1</a></li>
              <li><a href="#capabilities2">Capabilities 2</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
