<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include('./styles') -%>
  </head>
  <body>
<header>
  <div id="logo">
    <img src="./images/logo.png" />
  </div>
  <nav>

  </nav>
</header>
